//- default container
doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width,initial-scale=1")
    title!= title
    block head
      script(type='text/javascript', src='/jquery.js')
      script(type='text/javascript', src='/bootstrap.js')
      link(type='text/css', rel='stylesheet', href='/bootstrap.css')
      script(type='text/javascript', src='/d3.js')
      script(type='text/javascript', src='/d3kit.js')
      link(type='text/css', rel='stylesheet', href='/css/kindle.css')

  body

    .container-fluid
      .row
        .col-xs-6.col-md-4.container-fluid
            #time
        
    script(type='text/javascript', src='/js/kindle.js')
