doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    meta(name="description" content="")
    meta(name="author" content="")
    link(rel="icon" href="../../favicon.ico")

    title Sticky Footer Template for Bootstrap

    //- Bootstrap core CSS
    link(type='text/css', rel='stylesheet', href='/bootstrap.css')
    
    //- queue
    script(type='text/javascript', src='/queue.js')
    
    //- d3
    script(type='text/javascript', src='/d3.js')
    script(type='text/javascript', src='/d3kit.js')
    
    //- moment
    script(type='text/javascript', src='/moment.js')
    script(type='text/javascript', src='/moment-timezone.js')
    
    //- fonts/icons
    link(type='text/css', rel='stylesheet', href='/font-awesome.css')
    link(type='text/css', rel='stylesheet', href='/weather-icons.css')
    
    //- my helpers
    script(type='text/javascript', src='/js/textSvg.js')
    script(type='text/javascript', src='/js/calendarSvg.js')
    script(type='text/javascript', src='/js/openweathermap.js')
    
    //- my style
    link(type='text/css', rel='stylesheet', href='/css/kindle.css')
    
    style.
    
      /* month-view */
      circle.cal.in-month {
        fill: #fff;
      }

      circle.cal.current {
        fill: #000;
      }

      circle.cal {
        fill: #fff;
      }

      text.cal.in-month {
        fill: #000;
      }
      text.cal.current {
        fill: #fff;
      }

      text.cal {
        fill: #ccc;
      }
      
      .weather-h4 .time {
        color:#ccc;
      }

      span.icon-rain,
      span.icon-shower-rain,
      span.icon-thunderstorm,
      span.icon-snow {
        padding-top: 15px;
        padding-bottom: 5px;
      }
      span.icon-few-clouds,
      span.icon-clouds,
      span.icon-mist {
        padding-top: 15px;
      }
      
  body

    .container-fluid
      .row
        .col-xs-4
          h1#time(style='text-align:center')
        .col-xs-8
          h1#date(style='text-align:center')
                  
      .row
        .col-xs-4 
          
          #weather-now
          #weather-forecast
            
        .col-xs-8
          #month-view



    script(type='text/javascript', src='/js/kindle.js')

        
