
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  
  /* some space for kindle */
  margin-top: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 5px 0;
}


text{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  fill:red;
}


/* month-view */
circle.cal.in-month {
  fill: #fff;
}

circle.cal.current {
  fill: #000;
}

circle.cal {
  fill: #fff;
}

text.cal.in-month {
  fill: #000;
}
text.cal.current {
  fill: #fff;
}

text.cal {
  fill: #ccc;
}
